.nav-container,
.nav-container-plants,
.nav-container-space,
.nav-container-recipe {
  background-color: var(--black-400);
  min-height: 9rem;
  width: 80%;
  margin-inline: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 1.5rem;
  border-top: 1px solid var(--black-300);
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 4px 8px var(--black-600);
}

.nav-container::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: -200px;
  left: 50%;
  width: 300px;
  height: 200px;
  background: var(--gray-200);
  filter: blur(180px);
  border-radius: 2rem;
  transform: translateX(-50%);
}

.btn-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  min-width: 10rem;
  gap: 1rem;
  border-radius: 1.5rem;
  font-size: calc(var(--fs-medium) + 0.2rem);
  font-weight: 600;
  background-color: var(--black-400);
  color: var(--black-400);
  transition: all 1s ease;
}

.btn-page:hover {
  background-position-y: 100%;
  transition: all 2s ease;
  cursor: pointer;
}

.btn-page:hover .icon {
  transform: rotate(25deg);
}

.plants-btn {
  background-color: var(--light-green-100);
  background-image: url("/src/assets/waves-plants.svg");
}

.space-btn {
  background-color: #a586de;
  background-image: url("/src/assets/waves-space.svg");
}

.recipe-btn {
  background-color: #ffcba4;
  background-image: url("/src/assets/waves-recipe.svg");
}

.nav-container-plants,
.nav-container-space,
.nav-container-recipe {
  background-size: cover;
  background-position: center;
  transition: all 1s ease;
}

.nav-container-plants {
  background-image: url("/src/assets/background-plants.jpg");
}

.nav-container-space {
  background-image: url("/src/assets/background-space.jpg");
}

.nav-container-recipe {
  background-image: url("/src/assets/background-recipe.jpg");
}

.nav-container-plants:hover,
.nav-container-space:hover,
.nav-container-recipe:hover {
  background-position-y: 100%;
}

.nav-container-plants::before,
.nav-container-space::before,
.nav-container-recipe::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: -200px;
  left: 50%;
  width: 300px;
  height: 200px;
  filter: blur(180px);
  border-radius: 2rem;
  transform: translateX(-50%);
}

.nav-container-plants::before {
  background: var(--medium-green-300);
}

.nav-container-space::before {
  background: #a586de;
}

.nav-container-recipe::before {
  background: var(--black-600);
}
